/executii
/slictesting
/invoice/APIKEY.txt
/invoice/__pycache__
/invoice/*.json
/invoice/*.pdf
/screenRecorder/recorded_actions.txt
.DS_Store
pdfsplitter/CURSURI IPUE.pdf
pdfsplitter/first.pdf
pdfsplitter/output2.pdf
pdfsplitter/second.pdf
/invoice/invoice-mac-app/.build
